@import "src/styles/core.scss";

.ModalContainer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 500;
}

.ModalOpen {
  visibility: visible;
}

.ModalCloseArea {
  background-color: rgba(6, 6, 8, 0.6);
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.ModalContent {
  background-color: $white;
  border-left: 1px solid $gray;
  color: black;
  height: 100vh;
  max-width: 90%;
  overflow: auto;
  position: absolute;
  // right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.6s cubic-bezier(0.255, 0.445, 0.495, 1.005);
  width: 200px;
  z-index: 700;
}

.modalLeft {
  transform: translateX(-100%);
  left: 0;
}

.modalRight {
  transform: translateX(100%);
  right: 0;
}

.ModalContentOpen {
  transform: translateX(0);
}
