@import "src/styles/core.scss";

.card {
  padding: 0.5rem 2rem;
  margin: 6px 0px;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  font-family: $default-font-family;
  display: flex;
  max-width: $content-max-width;
}
.cardDesktop {
  width: 100%;
}

.cardMobile {
  width: 80%;
}
